<footer class="site-footer pv4 bt b--transparent ph5" role="contentinfo">
  <nav class="db dt-l w-100">
    <p
      class="
        site-copyright
        f7
        db
        dtc-l
        v-mid
        w-100 w-33-l
        tc
        tl-l
        pv2
        pv0-l
        mv0
        lh-copy
      "
    >
      {{ if ne site.Copyright "" }}{{ site.Copyright | safeHTML }}{{ else
      }}&copy; {{ now.Format "2006"}}{{ if site.Params.orgName }} {{
      site.Params.orgName }}{{ end }}{{ if site.Params.orgLocal }}, {{
      site.Params.orgLocal }}{{ end }}{{ end }}
      <span class="middot-divider"></span>
      Construit avec
      <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title"
        ><a
          xmlns:dct="http://purl.org/dc/terms/"
          href="https://github.com/hugo-apero/"
          rel="dct:source"
          >Hugo Apéro</a
        ></span
      >.
      <br />
      {{ partial "shared/attribution.html" }}
    </p>
    {{ if and (not .IsHome) (site.Params.socialInFooter) }}
    <div class="site-social-links db dtc-l v-mid w-100 w-33-l tc pv2 pv0-l mv0">
      {{ partial "shared/social-links.html" . }}
    </div>
    {{ end }}
    <div
      class="site-links f6 db dtc-l v-mid w-100 w-67-l tc tr-l pv2 pv0-l mv0"
    >
      {{ range site.Menus.footer }}
      <a class="dib pv1 ph2 link" href="{{ .URL }}" title="{{ .Title }}"
        >{{ .Name }}</a
      >
      {{ end }}
    </div>
  </nav>
</footer>
