// basic color options: use only color names as shown in the
// "Color Palette" section of https://tachyons.io/docs/themes/skins/
$siteBgColor: "washed-blue" ;
$sidebarBgColor: "washed-red" ;
$textColor: "dark-gray" ;
$sidebarTextColor: "mid-gray" ;
$headlineColor: "dark-pink" ;
$headingColor: "dark-pink" ;
$bodyLinkColor: "dark-pink" ;
$navLinkColor: "navy" ;
$sidebarLinkColor: "navy" ;
$footerTextColor: "silver" ;
$buttonTextColor: "white" ;
$buttonBgColor: "dark-pink" ;
$buttonHoverTextColor: "near-white" ;
$buttonHoverBgColor: "navy" ;
$borderColor: "moon-gray" ;