{{ define "main" }}
{{ $page := . }}
<main class="page-main ph4 pt4" role="main">
  <section class="page-content mw7 center">
    <article class="post-content pa0 pr3-l">
      <header class="post-header">
        {{ partial "shared/breadcrumb.html" . }}
        {{ if .Pages }}
        <h1 class="i fw1 f1 tc mb0">{{ .Title }}</h1>
        {{ with .Params.subtitle }}<h2 class="pb4 mt2 f4 fw4 ttu tracked bb bw1 tc">{{ . }}</h2>{{ end }}
        {{ else }}
        <h1 class="f1 lh-solid measure-narrow mb3 fw4">{{ .Title }}</h1>
        {{ with .Params.subtitle }}<h4 class="f4 mt0 mb4 lh-title measure">{{ . }}</h4>{{ end }}
        {{ if .Params.show_author_byline }}<p class="f6 measure lh-copy mv1">{{ if .Params.author }}Par {{ .Params.author }}{{ end }}{{ with .Params.categories }} dans{{ range . }} <a href="{{ "categories/" | absURL }}{{ . | urlize }}">{{ . }}</a> {{ end }}{{ end }}</p>{{ end }}
        {{ if .Params.show_post_date }}<p class="f7 db mv0 ttu">{{ .PublishDate.Format "January 2, 2006" }}</p>{{ end }}
        {{ end }}
        
      {{ if .Params.links }}
      <div class="ph0 pt5">
        {{ partial "shared/btn-links.html" . }}
      </div>
      {{ end }}
        
      </header>
      <section class="post-body pt5 pb4">
        {{ .Content }}
      </section>
      <footer class="post-footer">
        {{ partial "shared/post-pagination.html" . }}
      </footer>
    </article>
    {{ if .Params.show_comments }}
      {{ partial "shared/comments.html" . }}
    {{ end }}
  </section>
</main>

<aside class="page-sidebar" role="complementary">
  {{ partial "shared/sidebar/sidebar-image.html" $page }}
  {{ partial "shared/section-sidebar.html" . }}
</aside>

{{ end }}
