<section class="featured-content">
{{ $page := . }} <!--save current page-->
{{ $pages := where .Site.RegularPages "Type" "in" site.Params.mainSections }}
{{ $use_featured := cond (ne $page.Params.use_featured nil) $page.Params.use_featured false }}
{{ $pages := cond $use_featured (where $pages "Params.featured" true) $pages }}
{{ $grouped := $pages.GroupBy "Section" }}
{{ range $grouped }}
  {{ $section := $.Site.GetPage "section" .Key }}
  {{ with $section }}
    <h5 class="f4 fw7 tracked ttu lh-title mb0 bt pv3"><a href="{{ .RelPermalink }}" class="dim no-underline">{{ .Title }}</a></h5>
  {{ else }}
  <!-- If no _index.md is available, ".Key" defaults to the section title and filters to title casing -->
    <h5 class="f4 fw7 tracked ttu lh-title mb0 bt pv4-ns pv3"><a href="{{ .RelPermalink }}" class="dim no-underline">{{ .Key | title }}</a></h5>
  {{ end }}

  <!--now add the featured content-->
  {{ $number_featured := $page.Params.number_featured | default 2 }}
  {{ range first $number_featured .Pages.ByDate.Reverse }}
  <article class="pb1 pb2-ns">
    <h4 class="f4 mt3 mb2 lh-title"><a href="{{ .RelPermalink }}" class="dim no-underline">{{ .Title }}</a></h4>
      <div class="flex flex-column flex-row-ns mb2 mb3-l items-center">
          <figure class="mr3 w-50 w-20-ns">
            <!--featured image for the branch bundle-->
            {{ $branch := (.CurrentSection.Resources.ByType "image").GetMatch "*feature*" }}
            <!--featured image for the leaf bundle-->
            {{ $leaf := (.Resources.ByType "image").GetMatch "*feature*" }}
            {{ $thumbnail := $leaf | default $branch }}
            <a href="{{ .RelPermalink }}">
              {{ with $thumbnail }}
              <img src="{{ .RelPermalink | absURL }}" align="left" class="mw-100 db">
            {{ end }}
            </a>
          </figure>

        <div class="w-100 w-80-ns pl3-ns">
      {{ $summary := cond (ne .Params.excerpt nil) .Params.excerpt .Summary }}
      {{ with $summary }}<p class="measure lh-copy cf">{{ . | markdownify | emojify }}</p>{{ end }}
          <a href="{{ .RelPermalink }}">En lire plus</a></p>
        </div>
    </article>
  {{ end }} <!--end range across grouped pages-->

  {{ with $section }}
      <div class="tr">
        <span class="f5 pv4 tr ttu tracked"><a href="{{ .RelPermalink }}" class="dim no-underline">Tout voir &rarr;</a></span>
      </div>
  {{ end }}
{{ end }}

{{ $number_categories := $page.Params.number_categories | default 0 }}
{{ if ge $number_categories 1 }}
  <article{{ if .Params.show_outro }} class="bb pb5"{{ end }}>
  <h5 class="f4 mv4 ttu tracked lh-title bt pv3">Catégories</h5>
  {{ range first $number_categories site.Taxonomies.categories.ByCount }}
      <a class="f6 link dim ba ph3 pv2 mb2 dib mr2" href="{{ .Page.RelPermalink }}">{{ .Page.Title }} ({{ .Count }})</a>
  {{ end }}
  </article>
{{ end }}
</section>